#outer_box{

	    display: flex;
    flex-direction: column;
        padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

#box1{

	    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

#box2{

	    justify-content: center;
    display: flex;
    margin-bottom: 1rem;

}
#box3{
   justify-content: center;
    display: flex;
    margin-bottom: 1rem;

}

#name{
	width: 300px;
    height: 40px;
    
  
}
#Email{
	width: 300px;
    height: 40px;
}
#message{
	    width: 882px;
    height: 100px;
}
#headline{
	text-align-last: center;
    margin-top: 15%;
}
#button{

	 width: 63%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}